### DATA DRIVER: CONNECTING TO THE DB

In [138]:
import pandas as pd
import numpy as np
import mysql.connector

In [155]:
# Official mysql.connector for python
project_options = {
    'user': 'manager', 
    'host' : 'localhost',
    'password' : 'managerpassword', 
    'database' : 'Proyecto_BBDD' 
}

connection = mysql.connector.connect(**project_options)
cursor = connection.cursor()

In [153]:
# WHEN TERMINATED, EXECUTE THIS CELL
connection.close()

In [105]:
df = pd.read_csv("../oferta_analysis/infojobs_data.csv", index_col="id")
df.head()

,title,company,description,status,location,modality,release_date,agreement,work_time,salary,education,category
id,,,,,,,,,,,,
1,Auditor / Controller Interno,Sector Retail,Controller interno de procesos de gestión Audi...,True,Ourense,Presencial,2022-05-14,Contrato indefinido,Jornada completa,30500.0,Grado,Administración de empresas
2,Assistant Business Manager,GRUPO GIRO,Grupo Giró es referente mundial en el envasado...,True,Badalona,Híbrido,2022-05-09,Contrato indefinido,Jornada completa,NaN,Grado,Administración de empresas
3,FINANCE MANAGER,Fed Finance,"Desde Fed Finance, consultoría líder en headhu...",True,Madrid,Híbrido,2022-05-14,Contrato indefinido,Jornada completa,55000.0,Grado,Administración de empresas
4,Project Administrator - Técnico de Gestión I+D,IMDEA Networks,IMDEA Networks es un instituto de investigació...,True,Leganés,Híbrido,2022-05-14,Contrato de duración determinada,Jornada completa,25500.0,Grado,Administración de empresas
5,Becario/a administrativo/a,"NEW LINE EVENTS, S.L.",¿Eres una persona con capacidad de comunicació...,True,Madrid,Híbrido,2022-05-14,Contrato formativo,Jornada intensiva - indiferente,NaN,Grado,Administración de empresas

**ADDRESS TABLE**

In [40]:
# INSERT STATEMENT and data to be inserted
insert_address = "INSERT INTO `ADDRESS` (`address_id`, `city`, `country`, `zip_code`) VALUES (" + "%s," *(3) + "%s)"
unique_locations = df['location'].unique()

# SELECT STATEMENT
cursor.execute('SELECT * FROM ADDRESS')
result = set([i[1] for i in cursor.fetchall()])

# Insert DataFrame records one by one, if not present
for i, location in enumerate(unique_locations):
    if location not in result:
        cursor.execute(insert_address, (i, location, 'España', 0))

In [64]:
connection.commit()

**CLIENT_ACCOUNT TABLE**

In [65]:
# Compute unique company identifiers
unique_company_names = {}

for index, company in df['company'].iteritems():
    if company not in unique_company_names:
        unique_company_names[company] = "company_" + str(index)

assert len(unique_company_names) == len(df['company'].unique())

In [63]:
# Then, all companies as clients in CLIENT_ACCOUNT:

# INSERT STATEMENT and data to be inserted
insert_address = '''
    INSERT INTO `CLIENT_ACCOUNT` (`username`, `password`, `date_joined`, `email_notifications_active`)
    VALUES (%s,%s,%s,%s)
'''

# SELECT STATEMENT
cursor.execute('SELECT username FROM CLIENT_ACCOUNT')
result = set([i[0] for i in cursor.fetchall()])

# Insert DataFrame records one by one, if not present
for i, username in enumerate(unique_company_names.values()):
    if username not in result:
        cursor.execute(insert_address, (username, "1234", '2022-01-01', 0))

**COMPANY TABLE**

In [83]:
# From location to address_id
cursor.execute('SELECT address_id, city FROM ADDRESS')
location_address_id = {city : address_id for address_id, city in cursor.fetchall()}

In [101]:
# Retrieve the unique row companies to INSERT using the CLIENT_ACCOUNT table
# and append the ADDRESS id based on the previous mapping 

company_columns = {
    'company_id' : [],      # company index of the dataframe
    'company_name' : [],    # company column of the dataframe
    'creation_date' : [],   # same date as CLIENT_ACCOUNT.date_joined
    'address_id' : [],      # FK of the ADDRESS table
    'user_account_id' : []  # FK of the CLIENT_ACCOUNT
}

cursor.execute('''SELECT user_account_id, username, date_joined FROM CLIENT_ACCOUNT''')
for client_account_id, username, date in cursor.fetchall():
    company_columns['company_id'].append(int(username.split("company_")[1]))
    company_columns['user_account_id'].append(client_account_id)
    company_columns['creation_date'].append(str(date.date()))

#company_columns['company_id'] = pd.Series(company_columns['company_id'])
company_columns['company_name'] = list(df.loc[company_columns['company_id'], 'company'])
#company_columns['creation_date'] = pd.Series(company_columns['creation_date'])
company_columns['address_id'] = pd.Series(df.loc[company_columns['company_id'], 'location'])
company_columns['address_id'] = list(company_columns['address_id'].apply(lambda loc: location_address_id[loc]))
#company_columns['user_account_id'] = pd.Series(company_columns['user_account_id'])

In [104]:
# COMPANY INSERT STATEMENT
insert_company =  '''  
    INSERT INTO COMPANY_PROFILE (`company_id`, `company_name`, `creation_date`, `address_id`, `user_account_id`)
    VALUES (%s, %s, %s, %s, %s)
'''

for i, row in pd.DataFrame(company_columns).iterrows():
    #print(tuple(row))
    cursor.execute(insert_company, tuple(row))

connection.commit()

**OFFER TABLE**

In [178]:
cursor.execute('SELECT company_id, company_name FROM COMPANY_PROFILE')
company_name_id = {company_name : company_id for company_id, company_name in cursor.fetchall()}

In [183]:
# Dataframe preparation before dumping
df.index.name = "job_offer_id"
df['company_id'] = df['company'].apply(lambda name: company_name_id[name])
df['description'] = df['description'].apply(lambda description: description[ : min(1000, len(description))] )
df.loc[df['release_date'].isnull(), 'release_date'] = df.iloc[0]['release_date']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41179 entries, 1 to 41179
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         41179 non-null  object
 1   company       41179 non-null  object
 2   description   41179 non-null  object
 3   status        41179 non-null  bool
 4   location      41179 non-null  object
 5   modality      36884 non-null  object
 6   release_date  41179 non-null  object
 7   agreement     41179 non-null  object
 8   work_time     41179 non-null  object
 9   salary        17702 non-null  float64
 10  education     41179 non-null  object
 11  category      41179 non-null  object
 12  company_id    41179 non-null  int64
dtypes: bool(1), float64(1), int64(1), object(10)
memory usage: 4.1+ MB

In [186]:
# Finally, dump the whole dataFrame in the JOB_OFFER Table
# Better to use sqlalchemy to avoid conflicts with nan values

from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://manager:managerpassword@localhost:3306/Proyecto_BBDD', echo = False)
df.to_sql(name = 'JOB_OFFER', con = engine, if_exists = 'append', index = True)

41179